@media screen and ( max-width: 1250px )
  .hero
    &__content
      margin-left: 2rem
@media screen and ( max-width: 970px )
  html
    font-size: 12px

@media screen and ( max-width: 760px )
  .header
    &__block
      &__menu
        display: none

@media screen and ( max-width: 560px )
  .header
   