.hero
  padding-top: 18.642rem
  padding-bottom: 16.285rem
  background: $max-light url('../img/bkgi.png') no-repeat top 
  &__content
    &__title
      display: inline-block
      font-size: 2rem
      line-height: 1.2
      font-weight: 300
      padding: 20px
      background-color: $max-light
    &__heading
      max-width: 48rem
    &__go
      max-width: 637px
      display: flex
      align-items: center
      margin-top: 4.857rem
    &__advantage
      padding-top: 19.785rem
    
  &__title
    font-size: 5.142rem
    line-height: 5.928rem
    line-height: 5.928rem
    font-weight: 300
    margin-bottom: 0.428rem
  &__subtitle
    font-size: 2rem
    font-weight: 300
  &__desc
    margin-top: 2.071rem
    max-width: 24.857rem
    font-weight: 300
  &__buttons
    max-width: 17.071rem
    width: 100%
  &__button
    &:first-child
      margin-bottom: 0.857rem
  &__text
    &__your
      margin-left: 53px
      font-size: 1.8rem
      line-height: 1.2
      font-weight: 300
      &-month
        color: #06bee1
    &__mintext
      color: #06bee1
      font-size: 112px
      line-height: 80px
      font-weight: 100
  &__row
    align-items: flex-start
    margin-top: 397px
    
  &__col
    position: relative

.advantage
  &__col
    &__img
      position: absolute
      top: -100px

    &__bigtext
      font-size: 342px
      font-weight: 100
      color: #0f1c2e
      position: absolute
      top: -350px
    &__title
      font-size: 24px
      line-height: 28px
      font-weight: 700
      color: #0f1c2e
      max-width: 19.5rem
      
    &__desc
      margin-top: 31px
      max-width: 260px